# Git (by default) does not allow empty directories
# Using this file, the directory is not empty
# Ignore all other files
*
# Add an exception for this file
!.gitignore
!01_preprocessing
!02_taxonomic_profiling
!03_kmer_analysis
!04_assemblies
!05_genomic_bins
!06_co_assembly
!07_amr
!08_visualization